#primer {
	width: 100%;
	background-color: white;
}

body {
	background-color:#E37B54;
}

h1 {
	text-align:center;
	font-family:courier;
	font-size:300%;
	color:black;
}
.carrusel {
	margin-top: 5%;
	display : flex;
	flex-wrap: nowrap;
	overflow: scroll;
}

.elemento {
	flex: 1 0 auto;
	margin: 0 50px;
	background-color: #238CBA;
	width: auto;
	height: 650px;

}
.elemento img {
	width: auto;
	height: 650px;
}

#primer {
	width: 75%;

	
}

#segundo{
	
}

#etiqueta1{
	margin-top: 20px;


}

#etiqueta1>a{
	display: margin-left; 
	padding: 10px 20px;
	background-color: #2269A1;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	text-align:center;
	float: left;
	
}

#etiqueta2{
	margin-top: 20px;


}

#etiqueta2>a{
	display: margin-left; 
	padding: 10px 20px;
	background-color: #2269A1;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	text-align:center;
	float: center;
	

}

#etiqueta3{
	margin-top: 20px;


}

#etiqueta3>a{
	display: margin-left; 
	padding: 10px 20px;
	background-color: #2269A1;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	text-align:center;
	float: right;
	

}
