
body {
	background-color:#E37B54;
}

h1 {
	text-align:center;
	font-family:courier;
	font-size:300%;
	color:black;
}

p {
	font-size:25px;
	text-align:center;
	text-align:justify;
	color:black;
	font-family: fantasy ;
	float: left;
	margin-left: 20px;
}

#imagen {
    text-align:center;
}

#margen{
	margin-top: 10px;
	margin-right: 25px;margin-left: 25px;

}


body {
	font-family: 'Rubik', sans-serif;
}
	
a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: black;
	font-weight: 500;
	padding: 10px 20px;
	border-radius: 10px;
	color: rgb(154,  0, 209);
	transition: all 0.3s ease;
}

a:hover {
	background-color: rgba(154, 0, 209, 0.1);


}
.header {
	position: relative;
	background-color: white;
	width: 100%;
	min-height: 80px;
	box-shadow: 4px 0px 20px 0px rgba(0,0,0,0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}
.header nav ul {
	display: flex;
	gap: 10px;
	list-style: none;
}
.header nav a i {
	font-size: 14px;
	margin-left: 6px;
}
.submenu {
	position: absolute;
	top: 100%;
	background-color: white;
	box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	max-height: 0;
	transition: max-height 2s ease;
	overflow: hidden;
	z-index: 10;
}
.submenu.show {
	max-height: 300px;
}
.submenu ul {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 10px;
}
.submenu ul li {
	position: relative;
	display: block;
	width: 100%;
}
.submenu ul li a {
	width: 100%;
}
.header nav ul li:hover .submenu {
    max-height: 300px; /* Despliega el submenú cuando el ratón está sobre el elemento de la lista (li) */
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.texto{
	z-index: 10;
}
.footer{
	position: relative;
	width:100%;
	background: white;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.menu{
	display:flex;
	justify-content: center;
	position:relative;
	align-items:center;
	margin: 10px 0;
	flex-wrap: wrap;
}

.menu-elem{
	list-style:none;
}

.menu-icon{
	color: purple;
	font-size: 20px;
	display: inline-block;
	text-decoration:none;
	margin: 5px 10px;
	opacity: 0.75;
	transition: 0.3s;
}